main.cidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}
  
button.cidade-add-button {
    flex: 1;
    margin-bottom: 32px;
}

div.cidade-container, div.cidade-add-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 66%;
}

table {
    width: 100%;
    margin-bottom: 32px;
}

.cidade-table-header, .cidade-table-body {
    text-align: right;
}

div.vazio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}